<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bankMapper">
	
	<!-- insert -->
	<insert id="insertBank" parameterType="bank">
		<selectKey keyProperty="bankId" resultType="int" order="BEFORE">
			select seq_bank_id.nextval from dual
		</selectKey>
		insert into bank values(#{memberId}, #{bankId}, #{bankType}, #{bankDescription})
	</insert>
	
	<!-- update -->
	<update id="updateBankByMemberId" parameterType="bank">
		update	bank
		set	bank_type = #{bankType},
			bank_description = #{bankDescription}
		where member_id = #{memberId}
		and bank_id = #{bankId}
	</update>
	
	<!-- delete -->
	<delete id="deleteBankByBankId" parameterType="_int">
		delete from bank where bank_id = #{bankId}
	</delete>
	
	<!-- delete memberId로 삭제-->
	<delete id="deleteBankByMemberId" parameterType="String">
		delete from bank where member_id = #{memberId}
	</delete>
	
	<!-- select -->
	<resultMap type="bank" id="bank-resultMap">
		<result property="memberId" column="member_id"/>
   		<result property="bankId" column="bank_id"/>
   		<result property="bankType" column="bank_type"/>
   		<result property="bankDescription" column="bank_description"/>
   </resultMap>
	
	<select id="selectBankByMemberId" parameterType="string" resultMap="bank-resultMap">
		select member_id, bank_id, bank_type, bank_description
		from bank
		where member_id = #{value}
		order by bank_id
	</select>
</mapper>