<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cardMapper">

   <sql id="select-card">
      select member_id, card_id, card_type, card_description
      from card
   </sql>
   
   <!-- insert -->
   <insert id="insertCard" parameterType="card">
   	<selectKey keyProperty="cardId" resultType="int" order="BEFORE">
   		select seq_card_id.nextval from dual
   	</selectKey>
      insert into card values(#{memberId}, #{cardId}, #{cardType}, #{cardDescription})
   </insert>
   
   <!-- update -->
   <update id="updateCardByMemberId" parameterType="card">
      update card
      set card_type = #{cardType},
          card_description = #{cardDescription}
      where member_id = #{memberId}
      and card_id = #{cardId}
   </update>
   
   <!-- delete -->
   <delete id="deleteCardByMemberId" parameterType="_int">
      delete from card where card_id = #{cardId}
   </delete>
   
   <!-- select -->
   <resultMap type="card" id="card-resultMap">
	<result property="memberId" column="member_id"/>
   	<result property="cardId" column="card_id"/>
   	<result property="cardType" column="card_type"/>
   	<result property="cardDescription" column="card_description"/>
   </resultMap>
   <select id="selectCardByMemberId" parameterType="String" resultMap="card-resultMap">
      select member_id, card_id, card_type, card_description
      from card
      where member_id = #{value}
      order by card_id asc
   </select>

</mapper>