<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace="collection"> 

<!-- collection 추가 -->
 
 <select id="selectSequence" resultType='int'>
 	select seq_col.nextval from dual
 </select>
 
 <insert id='insertCollection' parameterType="collection">
 	insert into collection values(#{collectionid},#{collectionName},#{collectionIntro})
 
 </insert>
 
</mapper> 