<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="freeComment">




	<!-- 댓글 등록 -->
	<insert id="comRegister" parameterType="freecomment">
	<selectKey keyProperty="id" resultType="_int" order="BEFORE" >
		select seq_com.nextval from dual
	</selectKey>
		insert into free_comments values(#{id},#{content},#{memeberId},#{fontNo},#{fontGroup},#{groupLevel},#{registerTime})	
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="comUpdate" parameterType="freecomment">
		update free_comments 
		set content=#{content},
			register_time=#{registerTime}
		where	id=#{id}
	</update>

	<!-- 댓글 삭제  -->
	<delete id="comDelete" parameterType="_int">
		delete from free_comments
		where id=#{id}
	</delete>
	
	
	
	
	
	
	<!--  id로 전체 조회-->
	<!-- <select id="comById" parameterType="_int" resultType="freecomment">
		select id,content,member_id memberId,font_group fontGroup,group_level groupLevel, register_time registerTime
		from free_comments
		where id=#{value}
	</select> -->
	
	<!-- 댓글 뿌리기 위해서 글번호로 조회 -->
<!-- 	<select id="comByFontNo" parameterType="_int" resultType="freecomment">
		select id,content,member_id memberId,register_time registerTime,font_group fontGroup,group_level groupLevel
		from free_comments
		where font_no=#{value}
		order by fontGroup		
	</select> -->

	




</mapper>
