<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace = "incomeMapper">
	
	<!-- 
		수입 insert
		수입 select - 해당 날짜에 저장되있는 것 모두 조회 - 순서는 입력순 - seq로 정렬
		수입 update - 회원id에 해당하는 아이, 작성번호
		수입 delete - 선택된 것의 no를 조회해서 그것을 삭제
	 -->
	
	<!-- 수입 insert -->
	<insert id="insertIncome" parameterType="income">
		insert into income (income_id, member_id, code_id, income_date, explanation, income_money)
					values (#{incomeId}, #{memberId}, #{codeId}, #{incomeDate}, #{explanation}, #{incomeMoney})
	</insert>
	
	
	
</mapper>