<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" > 
<mapper namespace= "memberModule.member"> 
 
 <!-- 회원가입 insert -->
 <insert id="insertMember" parameterType="member">
 	insert into member values( #{memberId}, #{name}, #{age}, #{birthday},#{password},#{email})
 </insert>
 <!-- 회원탈퇴 delete -->
 <delete id="deleteMember" parameterType="string">
 	delete from member 
 	where member_Id=#{value}
 </delete>
 <!-- 회원정보 수정 update -->
<update id="updateMember" parameterType="member"> 
 	update member
 	set
 		name=#{name},
 		age=#{age},
 		birthday=#{birthday},
 		password=#{password},
 		email=#{email}
 	
 	where member_Id=#{memberId}
 </update>
 

 <!-- Id로 Member를 조회 -->
 <select id ="selectMemberById" parameterType="string" resultType="member">
 	
 	select member_id memberId, name, age, birthday, password, email 
 	from member
 	where member_id=#{value}
 	
 </select>
 
 <!-- id 중복 체크용 Member 조회  -->
<select id="idCheck" parameterType="string" resultType="member">

	select member_id memberId, name, age, birthday, password, email 
 	from member
 	where member_id=#{value}
 	
</select>

<!-- email을 통해 Member 조회 -->
<select id="selectMemberByEmail" parameterType="string" resultType="member">
	select member_id memberId, name, age, birthday, password, email 
 	from member
 	where email=#{value}
 	
</select>
</mapper> 