<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace = "notesMapper">
	
		<!-- 메모 insert
		메모 update
		메모 select -->
	
	<resultMap type="notes" id="notes-resultMap">
		<id property="no" column="no"/>
		<result property="dayDate" column="day_date"/>
		<result property="content" column="content"/>
		<result property="memberId" column="member_id"/>
	</resultMap>
	
	
	 
	<!-- 메모 insert -->
	 <insert id="insertNotes" parameterType="notes">
	 	<selectKey keyProperty="no" resultType="_int" order="BEFORE">
	 		select seq_nts.nextval from dual
	 	</selectKey>
	 	insert into notes
	 	values(#{no}, #{dayDate}, #{content}, #{memberId})
	 </insert>
	 
	<!--  메모 update -->
	 <update id="updateNotes" parameterType="notes">
	 	update notes
	 	<set>
	 		day_date=#{dayDate},
	 		content=#{content},
	 		member_id=#{memberId}
	 	</set>
	 	where no=#{no}
	 </update>
	 
	<!--  메모 select -->
	 <select id="selectNotes" parameterType="map" resultMap="notes-resultMap">
	 	select no, day_date, content, member_id
	 	from notes
	 	where member_id=#{memberId}
	 	and day_date=#{dayDate}
	 </select>
	 
	 <!-- 메모 delete -->
	 <delete id="deleteNotes" parameterType="_int">
	 	delete from notes 
	 	where no=#{value}
	 </delete>
</mapper>