<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tipMapper">
	
	<!-- tip게시판 글 등록( 글 쓰기) -->
	<insert id="tipInsert" parameterType="tipboard">
		<selectKey keyProperty="no" resultType="_int" order="BEFORE">
			select seq_tip.nextval from dual
		</selectKey>
		insert into tip_board values(#{no},#{title},#{content},#{fileName},#{click},#{good},#{classification},#{registerTime},#{memberId})
	</insert>
	
	<!-- 글수정  -->
	<update id="tipUpdate" parameterType="tipboard">
		update tip_board 
		set title=#{title},
			content=#{content},
			file_root=#{fileName},
			classification=#{classification}
		where no=#{no}
	</update>
	
	<!-- 조회수 증가 -->
	<update id="clickUpdate" parameterType="_int">
		update tip_board
		set click=click+1
		where no=#{no}
	</update>
	
	<!-- 좋아용 증가 -->
	<update id="goodUpdate" parameterType="map">
		update tip_board
		set good=good+#{num}
		where no=#{no}
	</update>
	
	<!-- 글 삭제 -->
	<delete id="tipDelete" parameterType="_int">
		delete from tip_board
		where no=#{no}
	</delete>
	
	<!-- page처리를 위한 글 총 개수 -->
	<select id="selectTotal" resultType="_int">
		select count(no)
		from tip_board
	</select>	
	
	<!-- page처리를 위한 현재 페이지 -->
	<select id="selectCurrentPage" parameterType="map" resultType="tipboard">
		select classification,no,title,member_id memberId,register_time registerTime,click,good
		from (
			select ceil(rownum/#{currentPage}) page,no,classification,title,member_id,register_time,click,good
			from tip_board
		)
		where page=#{page} 
	</select>
	
	<!-- no로 글 찾기(상세화면)  -->
	<select id="selectByNo" parameterType="_int" resultType="tipboard">
		select no,classification,title,register_time registerTime, member_id memberId,file_root fileName,content,click
		from tip_board
		where no=#{no}
	</select>
	
	
		<!-- Page처리를 위한 글 토탈 - 제목으로 검색 -->
	<select id="selectTitleTotal"   parameterType="string"  resultType="_int">
		select  count(no)
		from tip_board
		where title like '%'||#{value}||'%'
	</select>
	
	<!-- 조회 - 제목으로 검색 -->
	<select id="selectByTitle" parameterType="map" resultType="tipboard">
		select classification,no,title,member_id memberId,register_time registerTime,click,good,file_root fileName
		from(
			select ceil(rownum/#{current}) page,classification,no,title,member_id,register_time,click,good,file_root 
			from (
					select classification,no,title,member_id,register_time,click,good,file_root
					from tip_board
					where title like '%'||#{title}||'%'
					order by no desc
			)
		)
		where page=#{page}
	</select>
	
	
	
	
	
		<!-- Page처리를 위한 글 토탈-작성자로 검색  -->
	<select id="selectMemberIdTotal"  parameterType="string" resultType="_int">
		select  count(no)
		from tip_board
		where member_id=#{value}
	</select>
	
	<!-- 조회- 작성자로 검색  -->
	<select id="selectByMemberid" parameterType="map" resultType="freeboard">
		select classification,no,title,member_id memberId,register_time registerTime,click,good,file_root fileName
		from(
			select ceil(rownum/#{current}) page,classification,no,title,member_id,register_time,click,good,file_root
			from (
					select classification,no,title,member_id,register_time,click,good,file_root
					from tip_board
					where member_id=#{memberId}
					order by no desc
			)
		)
		where page=#{page}
	</select>
	
	<!-- page처리를 위한 글 토탈 -분류로 검색 -->
	<select id="selectByClassificationTotal" parameterType="string" resultType="_int">
		select count(no)
		from tip_board
		where classification=#{value}
	</select>
	
	<!-- 조회 - 분류로 검색 -->
	<select id="selectByClassification" parameterType="map" resultType="freeboard">
			select classification,no,title,memberId,registerTime,click,good
			from(	
				select ceil(rownum/#{current}) page,classification,no,title,memberId,registerTime,click,good
				from(
					select classification,no,title,member_id memberId,register_time registerTime,click,good
					from tip_board
					where classification=#{classification}
					order by no desc
					)
				)	
			where page=#{page}	
	</select>
	
	
	
	
	
	
	

</mapper>
