<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.salim.vo.Collect" alias="collect"/>
		<package name="com.salim.vo"/>
	</typeAliases>
	
	<!-- 추가로 mapper를 설정해야 하는 경우 아래에 등록해 주세요. -->
	<mappers>
<!-- 		<mapper resource="com/salim/dao/mapper/goalsMapper.xml"/> -->
		<mapper resource="com/salim/dao/mapper/scheduleMapper.xml"/>
		<mapper resource="com/salim/dao/mapper/testMapper.xml"/> 
		<mapper resource="com/salim/dao/mapper/freeMapper.xml"/> 
		<mapper resource="com/salim/dao/mapper/quenstionAndAnswerMapper.xml"/>
		<mapper resource="com/salim/dao/mapper/tipMapper.xml"/>		
		<mapper resource="com/salim/dao/mapper/incomeMapper.xml"/>
		<mapper resource="com/salim/dao/mapper/expenseMapper.xml"/>
		<mapper resource="com/salim/dao/mapper/budgetMapper.xml"/>
		<!-- <mapper resource="com/salim/dao/mapper/notesMapper.xml"/> -->
		<mapper resource="com/salim/dao/mapper/collectionMapper.xml"/>
		<mapper resource="com/salim/dao/mapper/codeMapper.xml"/>

		<mapper resource="com/salim/dao/mapper/memberMapper.xml"/>
		<mapper resource="com/salim/dao/mapper/memberNCollectionMapper.xml"/>
		<mapper resource="com/salim/dao/mapper/codeMapper.xml"/>
		<mapper resource="com/salim/dao/mapper/categoryMapper.xml"/>
		<mapper resource="com/salim/dao/mapper/freeCommentMapper.xml"/> 
	</mappers>
	
	
</configuration>