<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<package name="com.salim.vo"/>
	</typeAliases>
	
	<!-- 추가로 mapper를 설정해야 하는 경우 아래에 등록해 주세요. -->
	<mappers>
		<mapper resource="com/salim/dao/mapper/testMapper.xml"/> 
		<mapper resource="com/salim/dao/mapper/freeMapper.xml"/>
		<mapper resource="com/salim/dao/mapper/quenstionAndAnswerMapper.xml"/>
		<mapper resource="com/salim/dao/mapper/tipMapper.xml"/>
	</mappers>
	
	
</configuration>